<!--BEGIN HEADER-->
@{
    var IsRegistered = true;
    var canManageMaintenance = true;
}
<div class="main-header">
    <a href="#" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"></span>
    </a>
    <div class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">&nbsp;</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                @if (IsRegistered)
                {
                    <li class="account-info">
                        test
                    </li>
                    <li>
                        <a href="#">
                            Logout
                        </a>
                    </li>
                }
                <li>

                </li>
                <li>
                    <a href="#">
                        PublicStore
                    </a>
                </li>
                @if (canManageMaintenance)
                {
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown"><i class="fa fa-gears"></i></a>
                        <ul class="maintenance-menu dropdown-menu bg-light-blue" role="menu">
                            <li>
                                @using (Html.BeginForm("ClearCache", "Common", new { area = "Admin" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.Hidden("returnurl", HttpContext.Current.Request.RawUrl)
                                    <button type="submit" class="bg-light-blue">
                                        <span>ClearCache</span>
                                    </button>
                                }
                            </li>
                            <li>
                                @using (Html.BeginForm("RestartApplication", "Common", new { area = "Admin" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.Hidden("returnurl", HttpContext.Current.Request.RawUrl)
                                    <button id="restart-application" type="submit" class="bg-light-blue">
                                        <span>Restart</span>
                                    </button>
                                }
                            </li>
                        </ul>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

<div class="main-sidebar">
    <div class="sidebar">
        <div class="sidebar-form">
            <div id="search-box">
                <input type="text" class="form-control admin-search-box typeahead" placeholder="Search">
            </div>
        </div>
        <script>
            $(document).ready(function () {
                Admin.Search.init();
            });
        </script>
        @Html.Partial("~/Views/Layout/Menu.cshtml")
    </div>
</div>

<!--END HEADER-->
